.begin{
    left: 24px;
}
h2{
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    color: blueviolet;
}
body{
    font-family: sans-serif;
    font-style: normal;
    font-size: 20px;
}