*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
h2{
    text-align:center;
    text-decoration: underline;
    font-size: 200%;
    font-weight: 600%;
    color: blueviolet;

}
p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2c2c2c;
    line-height: 180%;
    text-indent: 40px;
    text-align: justify;
}
img{
    text-align: center;
    max-width: 100%;
    width: auto;
    height: auto;
}
.begin{
    height: 100%;
    width: 100%;
    margin: auto;
    display: table;
x    top: 0%;
}