.begin{
    left: 24px;
}
h2{
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    color: blueviolet;
}
body{
    font-family: sans-serif;
    font-style: normal;
    font-size: 20px;
    max-width: 100%;
}
nav{
    font-family: sans-serif;
}
nav ul{
    color: blueviolet;
}
nav ul, nav a{
    color: green;
}
 nav ul, nav a:hover{
    color: hotpink;
}
nav ul, nav a:active{
    color: black;
}
.left-col{
    width: 60%;
    float: left;
    margin: 4% 0 4% 4%;
    text-align: center;
}

.sidebar{
    width: 26%;
    float: left;
    margin: 4%;
}
.photos{
    width: 29.4%;
    float: left;
    padding: 0%;
}
.clearfix{
    clear: both;
    height: 3%;
}